#paypal-button-container {
  text-align: center;
  margin: 20px 0;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.modern-card {
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

.btn-submit {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: #218838;
}

.form-group {
  margin-bottom: 15px;
}
.form-control {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

label {
  color: white;
  font-weight: bold; /* Optional: Make the label bold for better readability */
}
